@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

@font-face {
  font-family: "NATS";
  font-style: normal;
  font-weight: normal;
  src: url("../../nats/NATS-Regular.ttf");
}

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --textColor: #eee;
}

header {
  font-family: "NATS";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 2rem;
  z-index: 1;

  color: var(--textColor);
}

.nav {
  height: 50px;
  transition: 500ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0c2140;
  transition: 500ms;
  position: fixed;
  z-index: 1;
}

.nav.active {
  background: transparent;
}

nav a {
  margin: 2rem;
  color: var(--textColor);
  text-decoration: none;
  /* gap: 5rem; */
}

nav a:hover {
  color: hsl(142 90% 61%);
}

header .nav-btn {
  display: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

h3 {
  display: none;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  header {
    justify-content: space-between;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  h3 {
    display: block;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

/* @font-face {
  font-family: "NATS";
  font-style: normal;
  font-weight: normal;
  src: url("../../nats/NATS-Regular.ttf");
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  font-family: "NATS";

  background-color: #0c2140;
  transition: 500ms;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
   margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav.active {
  background: transparent;
}
 

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: hsl(142 90% 61%);
}

header {
  position: relative;
  padding: 0.2rem;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.navbar .togle-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 170px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav{
    display: flex;
    justify-content: end;
  }

  .navbar .links {
    display: none;
  }

  .navbar .togle-btn {
    display: block;
 
    margin-right: 2rem;
  }

  .dropdown-menu {
    display: block;
    
  } 
} */
